.menu {
  list-style: none;

  &__item--tools {
    padding: 1rem 0;
  }

  &__item--search {
    width: 100%;
  }

  &__item-link {
    color: $color-text-primary;
    font-family: "Adam", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-decoration: none;
    line-height: 5;
    padding: 1rem 2rem;
  }

  &__item-link{

    &:hover,
    &:active {
      color: $color-primary;
    }
  }

  &--tools {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}